<header class="site-header">
    <a href="/">
        <div class="hidden-xs wrapper">
            <div class="home">~</div>
            <div class="site-title">{{ site.title }}</div>
            <div class="photoframe">
                <img src="assets/img/dwi.png" style="padding: 8px;">
            </div>
        </div>
        <div class="visible-xs wrapper">
            <div class="site-title">{{ site.title }}</div>
            <div class="photoframe">
                <img src="assets/img/dwi.png" style="padding: 8px;">
            </div>
        </div>
    </a>
</header>
