<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="top">
        <div class="hidden-xs">
            {% include ganteng.html %}
        </div>
        <div id="the-blog">
            <div class="visible-xs">
                {% include header.html %}
            </div>
            <div class="page-content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
        <script>
            // window.onload = function(){
            //     var toggleCatatan = document.querySelector("#toggle-catatan");
            //     var theBlog = document.querySelector("#the-blog");
            //     var uselessFront = document.querySelector("#useless-front");
            //     toggleCatatan.onclick = function(){
            //         theBlog.className = "";
            //         uselessFront.className = uselessFront.className+" hidden";
            //     }
            // }
        </script>
    </body>
</html>
